[Unit]
Description=NGCP RTP/media Recording Daemon
Wants=network-online.target
After=network-online.target

[Service]
Type=forking
LimitNOFILE=100000
Environment=CFG_FILE=/etc/rtpengine/rtpengine-recording.conf
EnvironmentFile=/etc/sysconfig/rtpengine-recording
User=ngcp-rtpengine
Group=ngcp-rtpengine
AmbientCapabilities=CAP_NET_ADMIN CAP_CHOWN
RuntimeDirectory=rtpengine-recording
PIDFile=/run/rtpengine-recording/rtpengine-recording.pid
ExecStart=/usr/bin/rtpengine-recording --config-file=${CFG_FILE} --pidfile=${PID_FILE}
TimeoutSec=15s
Restart=on-failure

[Install]
WantedBy=multi-user.target
Alias=ngcp-rtpengine-recording.service
