[Unit]
Description=NGCP RtpEngine - RTP Media Proxy
Wants=network-online.target
After=network-online.target

[Service]
Type=forking
User=ngcp-rtpengine
Group=daemon
Environment=CFGFILE=/etc/rtpengine/rtpengine.conf
EnvironmentFile=/etc/sysconfig/rtpengine
PIDFile=/run/rtpengine.pid
ExecStart=/usr/sbin/rtpengine --config-file=${CFGFILE} --interface=${INTERFACE} --listen-ng=${LISTEN_UDP} --log-facility=${LOG_FACILITY} --log-level=${LOG_LEVEL}
Restart=on-failure

[Install]
WantedBy=multi-user.target
