[Unit]
Description=NGCP RTP/media Proxy Daemon
After=network-online.target

[Service]
Type=forking
EnvironmentFile=/etc/sysconfig/rtpengine
Environment=CFGFILE=/etc/rtpengine/rtpengine.conf
PIDFile=/run/rtpengine.pid
ExecStartPre=/usr/sbin/ngcp-rtpengine-iptables-setup start
ExecStart=/usr/sbin/rtpengine --no-log-timestamps --pidfile=${PIDFile} --config-file=${CFGFILE}
ExecStopPost=/usr/sbin/ngcp-rtpengine-iptables-setup stop

[Install]
WantedBy=multi-user.target
