*.debhelper
*.log
*.substvars
/.debhelper/
/debhelper-build-stamp
/files
/rtpengine-daemon/
/rtpengine-iptables/
/rtpengine-kernel-dkms/
/rtpengine-kernel-source/
/rtpengine-recording-daemon/
/rtpengine-utils/
/rtpengine/
README.html.gz
README.md.gz
