*.debhelper
*.log
*.substvars
/.debhelper/
/debhelper-build-stamp
/files
/ngcp-rtpengine-daemon/
/ngcp-rtpengine-kernel-dkms/
/ngcp-rtpengine-kernel-source/
/ngcp-rtpengine-perftest-data/
/ngcp-rtpengine-perftest/
/ngcp-rtpengine-recording-daemon/
/ngcp-rtpengine-utils/
/ngcp-rtpengine/
README.html.gz
README.md.gz
