[Unit]
Description=NGCP RTP/media Proxy Daemon
After=network-online.target
After=remote-fs.target
Requires=network-online.target

[Service]
Type=simple
EnvironmentFile=/etc/default/ngcp-rtpengine-daemon
PIDFile=/var/run/ngcp-rtpengine-daemon.pid
ExecStartPre=/usr/sbin/debian/ngcp-rtpengine-iptables-setup start
ExecStart=/usr/sbin/rtpengine -f -E --pidfile=/var/run/ngcp-rtpengine-daemon.pid --config-file=/etc/rtpengine/rtpengine.conf --table=$TABLE
ExecStopPost=/usr/sbin/debian/ngcp-rtpengine-iptables-setup stop

[Install]
WantedBy=multi-user.target
