[Unit]
Description=NGCP RTP/media Recording Daemon
After=network-online.target
After=remote-fs.target
Requires=network-online.target

[Service]
Type=forking
Restart=no
TimeoutSec=5min
IgnoreSIGPIPE=no
KillMode=process
RemainAfterExit=yes
SuccessExitStatus=5 6
PIDFile=/run/ngcp-rtpengine-recording-daemon.pid
ExecStart=/etc/init.d/ngcp-rtpengine-recording-daemon start
ExecStop=/etc/init.d/ngcp-rtpengine-recording-daemon stop

[Install]
WantedBy=multi-user.target
