*.o
bitstr-test
amr-encode-test
amr-decode-test
core
.depend
auxlib.c
codeclib.c
fix_frame_channel_layout.h
loglib.c
resample.c
rtplib.c
str.c
crypto.c
aes-crypt
bencode.c
call.c
call_interfaces.c
cdr.c
codec.c
control_ng.c
control_ng_flags_parser.c
cookie_cache.c
dtls.c
graphite.c
helpers.c
homer.c
ice.c
iptables.c
kernel.c
load.c
media_socket.c
poller.c
recording.c
redis.c
rtcp.c
rtp.c
sdp.c
socket.c
ssrc.c
statistics.c
streambuf.c
stun.c
transcode-test
udp_listener.c
payload-tracker-test
dtmf.c
const_str_hash-test.strhash
tests-preload.so
timerthread.c
media_player.c
dtmflib.c
test-dtmf-detect
test-bitstr
test-const_str_hash.strhash
test-payload-tracker
test-transcode
dtmf_rx_fillin.h
*-test.c
jitter_buffer.c
t38.c
spandsp_recv_fax_pcm
spandsp_recv_fax_t38
spandsp_send_fax_pcm
spandsp_send_fax_t38
spandsp_logging.h
aead-aes-crypt
tcp_listener.c
test-kernel-module
test-resample
mqtt.c
cli.c
janus.c
websocket.c
test-stats
ssllib.c
time-fudge-preload.so
mvr2s_x64_avx2.S
mvr2s_x64_avx512.S
test-mix-buffer
mix_buffer.c
audio_player.c
mix_in_x64_avx2.S
mix_in_x64_avx512bw.S
mix_in_x64_sse2.S
test-amr-decode
test-amr-encode
bufferpool.c
uring.c
aead-decrypt
arena.c
