*.o
bitstr-test
amr-encode-test
amr-decode-test
core
.depend
aes-crypt
transcode-test
payload-tracker-test
const_str_hash-test.strhash
tests-preload.so
test-dtmf-detect
test-bitstr
test-const_str_hash.strhash
test-payload-tracker
test-transcode
spandsp_recv_fax_pcm
spandsp_recv_fax_t38
spandsp_send_fax_pcm
spandsp_send_fax_t38
aead-aes-crypt
test-kernel-module
test-resample
mqtt.c
test-stats
time-fudge-preload.so
test-mix-buffer
test-amr-decode
test-amr-encode
aead-decrypt
s3-auth
