.depend
*.o
core
core.*
.ycm_extra_conf.pyc
rtpengine-recording
auxlib.c
loglib.c
rtplib.c
codeclib.c
resample.c
str.c
fix_frame_channel_layout.h
socket.c
streambuf.c
ssllib.c
dtmflib.c
*-test
*-test.c
