.depend
*.o
core
core.*
.ycm_extra_conf.pyc
rtpengine-recording
auxlib.c
loglib.c
rtplib.c
codeclib.c
resample.c
str.c
fix_frame_channel_layout.h
socket.c
streambuf.c
ssllib.c
dtmflib.c
*-test
*-test.c
*.8
mvr2s_x64_avx512.S
mvr2s_x64_avx2.S
mix_in_x64_avx2.S
mix_in_x64_avx512bw.S
mix_in_x64_sse2.S
bufferpool.c
uring.c
